@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto", "sans-serif";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto", "sans-serif";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background: #F5F5F5;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1036px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

@media (max-width: 767.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 11px;
		left: 11px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 10;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}

.bg-all {
	background: url("../../img/BG Image.svg") no-repeat;
	width: 100%;
	height: 800px;
	z-index: -1;
	background-position: center;
	background-size: cover;
}

.header__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 75px;
}
.header__logo {
	width: 165px;
	height: 44px;
	background: url("../../img/Logo-Placeholder-5.svg") 0 0 no-repeat;
	background-size: contain;
}
@media (max-width: 450px) {
	.header__logo {
		width: 140px;
		height: 35px;
	}
}
.header__menu {
	padding: 0 0 0 3.15789%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
@media (max-width: 767.98px) {
	.header__menu {
		padding: 0;
	}
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
@media (max-width: 991.98px) {
	.menu__list {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
.menu__phone {
	margin: 0px 5px 0px 5px;
	display: none;
	height: 24px;
	width: 24px;
	margin-top: 9px;
	background: url("../../img/icons/phone_24px.svg") left no-repeat;
	background-size: contain;
}
@media (max-width: 600px) {
	.menu__phone {
		display: block;
	}
}
.menu__clock {
	margin: 0px 5px 0px 5px;
	display: none;
	height: 24px;
	width: 24px;
	margin-top: 9px;
	background: url("../../img/icons/access_time_24px.svg") left no-repeat;
	background-size: contain;
}
@media (max-width: 991.98px) {
	.menu__clock {
		display: block;
	}
}
@media (max-width: 390px) {
	.menu__clock {
		display: none;
	}
}
.menu__link-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 32px 0px 32px;
	max-width: 200px;
	position: relative;
	padding: 0px 0px 0px 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
}
@media (max-width: 600px) {
	.menu__link-1 {
		display: none;
	}
}
.menu__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px 0px 0px;
	max-width: 200px;
	position: relative;
	padding: 0px 0px 0px 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
}
@media (max-width: 767.98px) {
	.menu__link {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 15px;
	}
}

.goto-block {
	white-space: nowrap;
	position: relative;
	background: #F2726F;
	border-radius: 8px;
	padding: 10px 25px;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #fff;
}
@media (max-width: 767.98px) {
	.goto-block {
		padding: 10px 15px;
	}
}
@media (max-width: 360px) {
	.goto-block {
		padding: 7px;
	}
}
.goto-block:hover {
	background: #F8828a;
	-webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	        box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}

.__goto-block {
	background: url("../../img/icons/access_time_24px.svg") left no-repeat;
	height: 24px;
	margin-top: 9px;
	background-size: contain;
}
@media (max-width: 991.98px) {
	.__goto-block {
		display: none;
	}
}

._goto-block {
	height: 24px;
	margin-top: 9px;
	background: url("../../img/icons/phone_24px.svg") left no-repeat;
	background-size: contain;
}

.user-header__body {
	position: relative;
}
@media (max-width: 767.98px) {
	.user-header__body {
		background-color: #fff;
		padding: 20px;
		border-radius: 10px;
	}
}
.user-header__menu {
	position: relative;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 10px;
	margin: 0px 0px 0px 0px;
}
@media (max-width: 767.98px) {
	.user-header__menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -110%;
		background-color: #fff;
		z-index: 8;
		padding: 50px 10px 20px 10px;
		overflow: auto;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.user-header__menu.active {
		left: 0;
		border-radius: 0;
	}
}
.user-header__link {
	display: block;
	color: #000;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 767.98px) {
	.user-header__link {
		margin: 0px 0px 10px 0px;
		font-size: 25px;
	}
}
.user-header__link_1 {
	margin: 0px 0px 0px 40px;
}
@media (max-width: 767.98px) {
	.user-header__link_1 {
		margin: 0px 0px 10px 0px;
	}
}
.user-header__link_7 {
	margin: 0px 0px 0px 306px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	background: url("../../img/search.png") 0 0 no-repeat;
	height: 18px;
	width: 18px;
}
@media (max-width: 991.98px) {
	.user-header__link_7 {
		margin: 0px 0px 0px 170px;
	}
}
@media (max-width: 690px) {
	.user-header__link_7 {
		margin: 0px 0px 0px 100px;
	}
}
@media (max-width: 767.98px) {
	.user-header__link_7 {
		margin: 0px 0px 10px 0px;
	}
}
.user-header__link_8 {
	margin: 0px 48px 0px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	background: url("../../img/shopping_cart_24px.svg") 0 0 no-repeat;
	height: 24px;
	width: 24px;
}
.user-header__link_8:after {
	content: "2";
	left: 17px;
	top: -3px;
	color: #fff;
	padding: 1px 0px 0px 0px;
	font-size: 11px;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 45%;
	background: #F2726F;
}
@media (max-width: 767.98px) {
	.user-header__link_8 {
		margin: 0px 0px 0px 0px;
	}
}

.heder-text__title {
	max-width: 583px;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	margin: 138px 0px 48px 80px;
	color: #fff;
}
@media (max-width: 767.98px) {
	.heder-text__title {
		margin: 100px 0px 48px 10px;
		font-size: 45px;
	}
}
.heder-text__button {
	margin: 0px 0px 0px 80px;
}

.who-we__body {
	position: relative;
	width: 100%;
	height: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -120px;
	background: #5D62B5;
	border-radius: 40px;
}
@media (max-width: 991.98px) {
	.who-we__body {
		height: 650px;
	}
}
@media (max-width: 767.98px) {
	.who-we__body {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.who-we__items {
	margin: 0px 0px 0px 0px;
}
.who-we__title {
	padding: 100px 0px 0px 38px;
	margin: 0px 0px 33px 0px;
	color: #fff;
	background: url("../img/icons/Overline Mark.svg") left bottom no-repeat;
}
@media (max-width: 991.98px) {
	.who-we__title {
		padding: 60px 10px 0px 38px;
	}
}
@media (max-width: 430px) {
	.who-we__title {
		padding: 40px 0px 0px 38px;
	}
}
.who-we__subtitle {
	max-width: 580px;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
}
@media (max-width: 991.98px) {
	.who-we__subtitle {
		padding: 0px 10px 0px 0px;
	}
}
.who-we__text {
	margin: 36px 0px 54px 0px;
	max-width: 846px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #F5F5F5;
	letter-spacing: 0.15px;
}
@media (max-width: 991.98px) {
	.who-we__text {
		margin: 36px 10px 60px 0px;
	}
}
@media (max-width: 767.98px) {
	.who-we__text {
		margin: 36px 10px 75px 0px;
	}
}
@media (max-width: 350px) {
	.who-we__text {
		margin: 36px 10px 55px 0px;
	}
}
.who-we__picture {
	margin: 0 auto;
	z-index: 3;
	position: absolute;
	width: 85%;
	height: 400px;
	-webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	        box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	border-radius: 40px;
	background-position: center;
	background: url("../img/dog.svg") 0 0 no-repeat;
	background-size: cover;
}
@media (max-width: 991.98px) {
	.who-we__picture {
		width: 78%;
		height: 290px;
		background-size: contain;
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767.98px) {
	.who-we__picture {
		width: 80%;
		left: 10%;
		height: 42%;
		background-size: cover;
		background-attachment: scroll;
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 670px) {
	.who-we__picture {
		background-size: cover;
		height: 38%;
	}
}
@media (max-width: 530px) {
	.who-we__picture {
		height: 30%;
	}
}
@media (max-width: 430px) {
	.who-we__picture {
		height: 25%;
	}
}
@media (max-width: 345px) {
	.who-we__picture {
		height: 18%;
	}
}
.who-we__bools {
	position: absolute;
	z-index: 1;
	top: -109px;
	right: -77px;
	z-index: 10;
	width: 201px;
	height: 317px;
	background: url("../img/icons/Stylize Circles.svg") 0 0 no-repeat;
}
@media (max-width: 991.98px) {
	.who-we__bools {
		width: 172px;
		height: 262px;
		background-size: contain;
	}
}
@media (max-width: 767.98px) {
	.who-we__bools {
		width: 150px;
		height: 220px;
		background-size: contain;
	}
}
.who-we__blob {
	position: absolute;
	top: 260px;
	left: -20px;
	z-index: 2;
	width: 580px;
	height: 450px;
	background: url("../img/icons/Blob 2 (1).svg") 0 0 no-repeat;
}
@media (max-width: 991.98px) {
	.who-we__blob {
		left: -1px;
		top: 350px;
		width: 480px;
		height: 350px;
		background-size: contain;
	}
}
@media (max-width: 767.98px) {
	.who-we__blob {
		display: none;
	}
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}

.who-we__body-items {
	margin: 0px 0px 0px 80px;
}
@media (max-width: 991.98px) {
	.who-we__body-items {
		margin: 0px 0px 0px 20px;
	}
}

.promise__body {
	margin: 230px 0px 121px 0px;
	max-width: 1020px;
	min-height: 320px;
}
@media (max-width: 991.98px) {
	.promise__body {
		margin: 200px 0px 80px 0px;
	}
}
@media (max-width: 767.98px) {
	.promise__body {
		margin: 120px 0px 50px 0px;
	}
}
.promise__title {
	background: url("../img/icons/Overline Mark b.svg") left bottom no-repeat;
	padding: 0px 0px 0px 38px;
	color: #5D62B5;
}
.promise__subtitle {
	margin: 33px 0px 68px 0px;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}
.promise__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 991.98px) {
	.promise__text {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 767.98px) {
	.promise__text {
		padding: 0px 0px 0px 10vw;
	}
}

.text-promise__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
@media (max-width: 991.98px) {
	.text-promise__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		padding: 0px 0px 15px 0px;
	}
}
@media (max-width: 767.98px) {
	.text-promise__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		display: inline;
		padding: 0px 0px 15px 0px;
	}
}
.text-promise__title {
	padding: 5px 0px 22px 86px;
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
}
.text-promise__text {
	padding: 0px 0px 0px 86px;
	max-width: 324px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.title-1 {
	background: url("../img/icons/pr1.svg") 0 0 no-repeat;
}

.title-2 {
	background: url("../img/icons/pr22.svg") 0 0 no-repeat;
}

.title-3 {
	background: url("../img/icons/pr2.svg") 0 0 no-repeat;
}

.promise-bottom__body {
	position: relative;
	width: 100%;
	height: 500px;
}
.promise-bottom__picture {
	position: absolute;
	width: 100%;
	height: 500px;
	background: url("../img/dog-bol.svg") no-repeat;
	background-position: center;
	background-size: contain;
}
@media (max-width: 991.98px) {
	.promise-bottom__picture {
		background-size: cover;
	}
}
.promise-bottom__title {
	position: relative;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 100px 0px 20px 50vw;
	max-width: 415px;
	padding: 0px 10px 0px 0px;
}
@media (max-width: 767.98px) {
	.promise-bottom__title {
		margin: 100px 0px 20px 40vw;
	}
}
@media (max-width: 600px) {
	.promise-bottom__title {
		margin: 100px 0px 20px 25vw;
		font-size: 30px;
	}
}
.promise-bottom__button {
	position: relative;
	margin: 120px 0px 0px 50vw;
	cursor: pointer;
}
@media (max-width: 767.98px) {
	.promise-bottom__button {
		margin: 100px 0px 20px 40vw;
	}
}
@media (max-width: 600px) {
	.promise-bottom__button {
		margin: 100px 0px 20px 25vw;
	}
}

.services__title-top {
	margin: 110px 0px 33px 0px;
	background: url("../img/icons/Overline Mark b.svg") left bottom no-repeat;
	padding: 0px 0px 0px 38px;
	color: #5D62B5;
}
@media (max-width: 767.98px) {
	.services__title-top {
		margin: 50px 0px 33px 0px;
	}
}
.services__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 0px 0px 54px 0px;
}
.services__table {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 24px 0px 0px 0px;
}
@media (max-width: 991.98px) {
	.services__table {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
	}
}
.services__item {
	margin: 0px 10px 10px 10px;
	width: 300px;
	height: 340px;
	border-radius: 20px;
	background: #FFFFFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.services__item:hover {
	-webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	        box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}
.services__title {
	margin: 50px 0px 0px 0px;
	padding: 100px 8px 0px 8px;
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
}
.services__text {
	padding: 0px 8px 0px 8px;
	max-width: 235px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.servise-title-1 {
	background: url("../img/icons/ser-1.svg") no-repeat;
	background-position: center top;
}

.servise-title-2 {
	background: url("../img/icons/ser-2.svg") no-repeat;
	background-position: center top;
}

.servise-title-3 {
	background: url("../img/icons/ser-3.svg") no-repeat;
	background-position: center top;
}

.servise-title-4 {
	background: url("../img/icons/ser-4.svg") no-repeat;
	background-position: center top;
}

.servise-title-5 {
	background: url("../img/icons/ser-5.svg") no-repeat;
	background-position: center top;
}

.servise-title-6 {
	background: url("../img/icons/ser-6.svg") no-repeat;
	background-position: center top;
}

.services__button-pos {
	margin: 75px 0px 120px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 991.98px) {
	.services__button-pos {
		margin: 50px 0px 120px 0px;
	}
}
@media (max-width: 767.98px) {
	.services__button-pos {
		margin: 40px 0px 120px 0px;
	}
}
.services__button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.appointment__body {
	width: 100%;
}
.appointment__cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 767.98px) {
	.appointment__cont {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.appointment__table {
	margin: 206px 0px 0px 0px;
	width: 585px;
	height: 640px;
	-webkit-box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	        box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
	background: #5D62B5;
	border-radius: 40px;
}
@media (max-width: 991.98px) {
	.appointment__table {
		height: 550px;
		margin: 130px 0px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.appointment__table {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		max-width: 550px;
		text-align: center;
		margin: 100px 0px 0px 0px;
	}
}
@media (max-width: 420px) {
	.appointment__table {
		height: 630px;
		margin: 60px 0px 0px 0px;
	}
}
.appointment__table-title {
	margin: 76px 0px 43px 0px;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}
@media (max-width: 991.98px) {
	.appointment__table-title {
		margin: 40px 0px 43px 0px;
	}
}
@media (max-width: 767.98px) {
	.appointment__table-title {
		margin: 25px 0px 43px 0px;
	}
}
.appointment__table-info {
	margin: 0px 0px 0px 58px;
}
@media (max-width: 991.98px) {
	.appointment__table-info {
		margin: 0px 10px 0px 10px;
	}
}
@media (max-width: 767.98px) {
	.appointment__table-info {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}
}
.appointment__text {
	display: inline-block;
	margin: 296px 10px 0px 111px;
}
@media (max-width: 991.98px) {
	.appointment__text {
		margin: 296px 10px 0px 50px;
	}
}
@media (max-width: 767.98px) {
	.appointment__text {
		display: none;
	}
}
.appointment__title {
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 0px 46px 0px;
}
.appointment__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 0px 46px 0px;
}
.appointment__sub-text {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.bg-image {
	width: 100%;
	background: url("../img/icons/duotone.svg") no-repeat;
	background-position: center;
	background-size: cover;
	height: 980px;
}
@media (max-width: 991.98px) {
	.bg-image {
		height: 870px;
	}
}
@media (max-width: 767.98px) {
	.bg-image {
		height: 800px;
	}
}

.table-info__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	width: 224px;
	height: 48px;
	background: #5D62B5;
	border-radius: 10px;
	border: 1px solid;
	border-color: #fff;
	margin: 0px 22px 22px 0px;
}
@media (max-width: 991.98px) {
	.table-info__text {
		width: 180px;
	}
}
@media (max-width: 470px) {
	.table-info__text {
		width: 160px;
	}
}
@media (max-width: 410px) {
	.table-info__text {
		width: 270px;
		margin: 0px 0px 13px 0px;
	}
}
.table-info__email {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	width: 224px;
	height: 48px;
	background: #5D62B5;
	border-radius: 10px;
	border: 1px solid;
	border-color: #fff;
}
@media (max-width: 991.98px) {
	.table-info__email {
		width: 180px;
	}
}
@media (max-width: 470px) {
	.table-info__email {
		width: 160px;
	}
}
@media (max-width: 410px) {
	.table-info__email {
		width: 270px;
		margin: 0px 0px 13px 0px;
	}
}
.table-info__phone {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	width: 224px;
	height: 48px;
	background: #5D62B5;
	border-radius: 10px;
	border: 1px solid;
	border-color: #fff;
}
@media (max-width: 991.98px) {
	.table-info__phone {
		width: 180px;
	}
}
@media (max-width: 470px) {
	.table-info__phone {
		width: 160px;
	}
}
@media (max-width: 410px) {
	.table-info__phone {
		width: 270px;
		margin: 0px 0px 13px 0px;
	}
}
.table-info__service {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	width: 224px;
	height: 48px;
	background: #5D62B5;
	border-radius: 10px;
	border: 1px solid;
	border-color: #fff;
	margin: 0px 0px 0px 22px;
}
@media (max-width: 991.98px) {
	.table-info__service {
		width: 180px;
	}
}
@media (max-width: 470px) {
	.table-info__service {
		width: 160px;
	}
}
@media (max-width: 410px) {
	.table-info__service {
		width: 270px;
		margin: 0px 0px 13px 0px;
	}
}
.table-info__text-bottom {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 0px 0px 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	margin: 22px 0px 40px 0px;
	width: 473px;
	height: 180px;
	background: #5D62B5;
	border-radius: 10px;
	border: 1px solid;
	border-color: #fff;
}
@media (max-width: 991.98px) {
	.table-info__text-bottom {
		width: 388px;
	}
}
@media (max-width: 470px) {
	.table-info__text-bottom {
		width: 343px;
	}
}
@media (max-width: 410px) {
	.table-info__text-bottom {
		width: 270px;
		margin: 0px 0px 25px 0px;
		height: 150px;
	}
}
.table-info__button {
	cursor: pointer;
	text-transform: uppercase;
	margin: 50px 0px 0px 261px;
}
@media (max-width: 991.98px) {
	.table-info__button {
		margin: 15px 0px 0px 0px;
	}
}

input::-webkit-input-placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	word-wrap: true;
}

input::-moz-placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	word-wrap: true;
}

input:-ms-input-placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	word-wrap: true;
}

input::-ms-input-placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	word-wrap: true;
}

input::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	word-wrap: true;
}

.Sed-do__body {
	margin: -72px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	max-width: 1020px;
	height: 150px;
	background: #5D62B5;
	border-radius: 20px;
	padding: 0px 10px 0px 10px;
}
@media (max-width: 991.98px) {
	.Sed-do__body {
		height: 120px;
	}
}
@media (max-width: 767.98px) {
	.Sed-do__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: 140px;
	}
}
.Sed-do__text {
	max-width: 562px;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}
@media (max-width: 767.98px) {
	.Sed-do__text {
		font-size: 19px;
		text-align: center;
	}
}
.Sed-do__button {
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
}
.footer__row {
	margin: 88px 0px 30px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer__left {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0px 10px 0px 0px;
}
@media (max-width: 767.98px) {
	.footer__left {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
	}
}
.footer__center {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
}
@media (max-width: 767.98px) {
	.footer__center {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
	}
}
.footer__right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
}
@media (max-width: 767.98px) {
	.footer__right {
		margin: 25px 0px 0px 0px;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 100%;
		        flex: 1 0 100%;
	}
}

.left-f__logo {
	width: 200px;
	height: 44px;
	background-size: contain;
	background: url("../img/Logo-Plac.svg") 0 0 no-repeat;
}
.left-f__text {
	margin: 23px 0px 0px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	max-width: 235px;
}
.left-f__ikons {
	cursor: pointer;
	margin: 33px 0px 0px 0px;
	background: url("../img/Group 6.svg") 0 0 no-repeat;
	width: 150px;
	height: 24px;
	background-size: contain;
}

.center-f {
	margin: 13px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.center-f__title {
	margin: 0px 0px 28px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.center-f__exp-l {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.center-f__exp-l li {
	cursor: pointer;
	margin: 0px 0px 11px 0px;
}
.center-f__exp-r {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.center-f__exp-r li {
	cursor: pointer;
	margin: 0px 0px 11px 0px;
}

.right-f__title {
	margin: 13px 0px 35px 0px;
}
.right-f__contact {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	position: relative;
}
.right-f__contact li {
	padding: 0px 0px 0px 22px;
	margin: 0px 0px 11px 0px;
}

.contact-1:before {
	position: absolute;
	left: 0;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/icons/place-1.svg") center no-repeat;
}

.contact-2:before {
	position: absolute;
	left: 0;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/icons/place-2.svg") center no-repeat;
}

.contact-3:before {
	position: absolute;
	left: 0;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/icons/place-3.svg") center no-repeat;
}

.contact-4:before {
	position: absolute;
	left: 0;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/icons/place-4.svg") center no-repeat;
}